.navJS{
  padding: 0;
  background-color: white;
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

.li-nav {
  color: black;
  padding: 20px;
  display: inline-block;
  text-align: center;
}
.ul-nav {
display: block;
}

.li-nav:hover {
  background-color: gray;
}
